@use '../abstracts';


.input {
  width: 100%;
  padding: 16px 20px 0 20px;
  height: 50px;
  border: 1px solid rgb(abstracts.$white-color, 0.4);
  border-radius: 5px;
  background: transparent;

  &[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
    padding: 0;

    font: inherit;
    color: currentColor;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 0.125rem;
    transform: translateY(0.12rem);

    &:checked::before {
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      width: 6px;
      height: 14px;
      border: solid rgb(abstracts.$white-color, 0.8);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &+span {
      margin-left: 10px;
      color: abstracts.$white-color;
    }
  }
}
