@use "sass:map";
@use '../abstracts';

.footer {
  background-color: abstracts.$black-color;
  padding: 0.5rem 2rem;

  @media only screen and (min-width: map.get(abstracts.$breakpoints, "medium")) {
    padding: 3rem 2rem;
  }

  &__links {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    list-style: none;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    >li {
      width: -webkit-fill-available;
      max-width: 15rem;
    }
  }
}
