@use '../abstracts';

.login-form {

  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;

  &__group {
    position: relative;
    margin: 0 auto;
    padding-bottom: 16px;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 16px 20px 0 20px;
    height: 50px;
    border: 1px solid rgb(abstracts.$white-color, 0.4);
    border-radius: 5px;
    background: transparent;

    &:focus~.login-form__label,
    &:valid~.login-form__label {
      font-size: 11px;
      top: 7px;
    }
  }



  &__label {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 20px;
    font-size: 18px;
    cursor: text;
    color: #8c8c8c;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease,
      -webkit-transform 0.1s ease, -moz-transform 0.1s ease,
      -o-transform 0.1s ease;
  }

  &__text {
    font-size: 0.8rem;
  }

  &__error {
    font-size: 0.8125rem;
    font-weight: 400;
    margin-top: 0.375rem;
    color: rgb(235, 57, 66);
    display: flex;
    gap: 0.2rem;
    align-items: center;
  }
}
