.container-mobile {

  @media (min-width: 768px) {
    display: none;
  }
}

.container-desktop {
  display: none;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    display: block;
  }

  .navbar__desktop {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;

    &__left {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    &__menu {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      gap: 1rem;

    }

    &__item {
      // ...existing styles...
    }

    &__right {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    &__icons {
      display: flex;
      gap: 1rem;
    }

    &__profile {
      // ...existing styles...
    }
  }


}
