.container-mobile {

  @media (min-width: 768px) {
    display: none;
  }
}

.container-desktop {
  display: none;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    display: block;
  }



  .navbar__desktop {
    z-index: 30;
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
    position: fixed;
    width: 100%;
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &--top {
      background: transparent;
    }

    &--bottom {
      background: black;
    }

    &__left {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    &__menu {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      gap: 1rem;

    }

    &__right {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    &__icons {
      display: flex;
      gap: 1rem;
    }

    &__profile {
      // ...existing styles...
    }
  }


}
