@use '../abstracts';

.terms {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  font-size: 0.8125rem;
  color: rgb(abstracts.$white-color, 0.5);
  height: 7rem;



  &__main {
    margin-bottom: 1.25rem;
  }

  &__button {
    margin-left: 0.5rem;
    height: fit-content;
    padding: 0px;
    color: rgb(0, 113, 235);
    background-color: transparent;
  }
}
